<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cleanerappv1">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleanerAppV1">
        <activity android:name=".admin_view_faq"></activity>
        <activity android:name=".admin_add_faq" />
        <activity android:name=".ui.admin_user_list_activity"/>
        <activity android:name=".admin_user_edit" />
        <activity android:name=".admin_cleaner" />
        <activity android:name=".admin_user" />
        <activity android:name=".admin_booking" />
        <activity android:name=".admin_complaint" />
        <activity android:name=".admin_term" />
        <activity android:name=".admin_faq" />
        <activity android:name=".ui.admin_setting" />
        <activity android:name=".ui.admin_view_user" />
        <activity android:name=".adminhome" />
        <activity android:name=".TaskHistoryCleaner" />
        <activity android:name=".cleaner_book" />
        <activity android:name=".cleaner_main_new" />
        <activity android:name=".pending_list" />
        <activity android:name=".task_history" />
        <activity android:name=".pending_task_detail" />
        <activity android:name=".complete_task_detail" />
        <activity android:name=".cleaner_tc" />
        <activity android:name=".cleaner_faq" />
        <activity android:name=".cleaner_edit_profile" />
        <activity android:name=".cleaner_complaint" />
        <activity android:name=".cleaner_account" />
        <activity android:name=".customer_edit_profile" />
        <activity android:name=".customer_account" />
        <activity android:name=".customer_feedback" />
        <activity android:name=".view_booking" />
        <activity android:name=".payment" />
        <activity android:name=".customer_c_out" />
        <activity android:name=".customer_service1" />
        <activity android:name=".book_list" />
        <activity android:name=".fingerprint_access" />
        <activity android:name=".email_verification" />
        <activity android:name=".reset_password" />
        <activity android:name=".register_cleaner_2" />
        <activity android:name=".ui.admin_main" />
        <activity android:name=".cleaner_main" />
        <activity android:name=".register_cleaner" />
        <activity android:name=".customer_main" />
        <activity android:name=".register_customer" />
        <activity android:name=".register_main" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>